.title {
    color: red;
    font-size: 40px;
    text-align: center;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.description {
    font-size: 30px;
    color: blue;
}

.ingredients {
    font-size: 30px;
    color: darkorange;
}

.steps {
    font-size: 30px;
    color: darkorange;
}