#homepage-title h1.title{
    color: blue;
    font-family:monospace;
    font-size: 45px;
    font-weight:1000;
    text-align: center;
}

#intro h1.page-title {
    color:blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    text-align: center;
}

#description h1.description {
    color: blue;
    font-family: fantasy;
    text-align: center;
}

#description p.paragraph-1 {
    font-size: medium;
    background-color: rgb(104, 242, 11);
    font-weight: 700;
}

#intro img {
    display: block;
    margin: auto;
    width: 500px;
    height: 500px;
}