#Homepage-title .title{
    color: blue;
    font-family:monospace;
    font-size: 50px;
    font-weight:1000;
    text-align: center;
}

#Welcome .links {
    font-size: 35px;
    text-align: center;
    color: red;
    font-weight: bold;
}

.hyperlink {
    font-size: 30px;
}
#intro h1.page-title {
    color:blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    text-align: center;
}

#description h1.description {
    color: blue;
    font-family: fantasy;
    text-align: center;
}

#description p.paragraph-1 {
    font-size: medium;
    background-color: rgb(104, 242, 11);
    font-weight: 700;
}

#intro img {
    display: block;
    margin: auto;
    width: 550px;
    height: auto;
}

#Ingredients .list-1 {
    background-color: rgb(23, 161, 64);
}

.paragrafo1 {
    background-color: blue;
}

#Steps .first-steps {
    background-color: rgb(92, 237, 48);
}